@(title: String, year: Integer)

@main(title, year) {
    
    <div class="row">
		<div class="span10 offset1">
			<div class="hero-unit">
				<h2>@title</h2>
				<p>
					Ce CD regroupe un ensemble de projets Devint, projets logiciels 
					développés à l'école Polytech'Nice-Sophia, dans le cadre de la 
					journée DeViNT ( cf. <a href=\"http://devint.polytech.unice.fr\">
					http://devint.polytech.unice.fr</a>).
				</p>
				<p>
					Les auteurs de ces projets sont les enseignants et les élèves du
					 département Sciences Informatiques.
				</p>
				<p>
					Les projets DeViNT sont distribués gratuitement avec leurs 
					sources, sous licence LGPL.
				</p>
				<p>
					Le projet VocalyzeSIVOX utilise le logiciel MBROLA de l'Université 
					Polytechnique de Mons (Belgique) ainsi que les sept voix françaises 
					de MBROLA qui sont soumis à la licence MBROLA, voir 
					<a href=\"http://tcts.fpms.ac.be/synthesis/mbrola/mbrlicen.html\">
						http://tcts.fpms.ac.be/synthesis/mbrola/mbrlicen.html</a>.
				</p>
				<p>
					Les projets Devint n'enfreignent pas à notre connaissance les 
					règles de copyright.
				</p>
				<p>
					Cependant, merci de nous signaler tout manquement éventuel à 
					corriger.
				</p>
				<p>
					Vous pouvez modifier les projets DeViNT, les utiliser et les 
					redistribuer sous les termes de la licence MBROLA et de la licence 
					LGPL.
				</p>
				<p>
					Cliquez sur le bouton 'Suivant' pour continuer l'installation.
					Fermez votre navigateur pour quitter l'installation.
				</p>
				<a href="@routes.Application.config("")" class="btn btn-large btn-primary" />Suivant</a>
			</div>
		</div>
	</div>
    
}
